<footer class="footer_wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-2 col-xs-6">
        <h2>Our Company</h2>
        <ul class="footer-links">
          <li>
            <a href="https://rootitsupport.com/about-us">About Us</a>
          </li>
          <li>
            <a href="https://rootitsupport.com/our-work">Portfolio</a>
          </li>
          <li>
            <a href="https://rootitsupport.com/promotion">Hot Deal</a>
          </li>
          <li>
            <a href="https://rootitsupport.com/product-categories"
              >Categories</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <h2>Our Services</h2>
        <ul class="footer-links">
          <li>
            <a href="https://rootitsupport.com/service/it-support"
              >IT Support and Solutions</a
            >
          </li>
          <li>
            <a href="https://rootitsupport.com/service/time-attendance"
              >Time and Attendance</a
            >
          </li>
          <li>
            <a href="https://rootitsupport.com/service/camera-surveillance"
              >Security Camera Systems</a
            >
          </li>
          <li>
            <a href="https://rootitsupport.com/service/door-access"
              >Access Control Systems</a
            >
          </li>
          <li>
            <a href="https://rootitsupport.com/service/network-solutions"
              >Network Solutions</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-5 hidden-xs">
        <h2>Contact Us</h2>
        <ul class="footer-contact-text">
          <li>
            <i class="fa-solid fa-location-dot"> </i> Cham Chao 3, Pou Senchey,
            Phnom Penh
          </li>
          <li>
            <i class="fa-regular fa-clock"> </i> Mon-Fri, 8 AM - 5 PM | Sat, 8
            AM - 12 PM
          </li>
          <li>
            <a href="tel:+85517925629">
              <i class="fa-solid fa-phone-volume"> </i> +855 17 925 629</a
            >
          </li>
          <li>
            <a href="tel:+85570925629">
              <i class="fa-solid fa-phone-volume"> </i> +855 70 925 629</a
            >
          </li>
          <li>
            <a href="mailto:sales@rootitsupport.com">
              <i class="fa-solid fa-envelope"> </i> sales@rootitsupport.com</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-2 hidden-xs">
        <h2>Follow Us</h2>
        <ul class="social-icons-list">
          <li>
            <a
              href="https://facebook.com/rootitsupport/"
              target="_blank"
              rel="noopener"
            >
              <i class="fa-brands fa-facebook"> </i> Facebook
            </a>
          </li>
          <li>
            <a
              href="https://instagram.com/rootitsupport/"
              target="_blank"
              rel="noopener"
            >
              <i class="fa-brands fa-instagram"> </i> Instagram
            </a>
          </li>
          <li>
            <a
              href="https://linkedin.com/company/root-it-support/"
              target="_blank"
              rel="noopener"
            >
              <i class="fa-brands fa-linkedin"> </i> LinkedIn
            </a>
          </li>
          <li>
            <a
              href="https://youtube.com/channel/UCraaefq1nlNenRp5RI-6-hQ/"
              target="_blank"
              rel="noopener"
            >
              <i class="fa-brands fa-square-youtube"> </i> Youtube
            </a>
          </li>
          <li>
            <a
              href="https://t.me/rootitsupport/"
              target="_blank"
              rel="noopener"
            >
              <i class="fa-brands fa-telegram"> </i> Telegram
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container-fluid">
      <div class="copyright-border-wrapper">
        <p>
          © 2008-2026 Root IT Support. <span class="footer-separator"> </span>
          <a href="https://rootitsupport.com/terms-conditions"
            >Terms and Conditions</a
          >
          <span class="footer-separator"> </span>
          <a href="https://rootitsupport.com/privacy-policy">Privacy Policy</a>
          <span class="footer-separator"> </span>
          <a href="https://rootitsupport.com/shipping-policy"
            >Delivery Policy</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
